.card-checkout {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 500px;
  }
  
  .card-checkout  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-checkout  p {
    margin: 5px 0;
  }
  
  .card-checkout ul {
    list-style: none;
    padding-left: 0;
  }
  
  .card-checkout  li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  