
.container-campaign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 600px;
}

.text-campaign {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  color: red;
  align-self: center;
  text-align: left;
  width: 600px;
}
.image-campaign{
    margin-top:20px ;
    margin-left: 20px;
}
.image-campaign img{
    width: 600px;
    margin-top:20px ;
    margin-left: 20px;
}
.campaigns {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no caben en el ancho disponible */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    height: 600px;
  }