.custom-bg-color{
    background-color: rgb(201, 26, 26) !important;
    
}
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav-link{
    color: white;
}
.other{
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
}
.other2{
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    color: black;
    border: 2px solid white;
}