/* Estilos para la tarjeta */
.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 400px;
  }
  
  .card_content {
    text-align: center;
  }
  
  .card_title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card_description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .card__button:hover {
    background-color: #2980b9;
  }
  